<h2>
	Now we can have expanded content like this
</h2>

<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nam placeat recusandae est! Nesciunt consectetur, fuga voluptatem accusantium iste molestias aliquid!</p>
<blockquote>Some inspiring quotes are better than others, but this one is the best</blockquote>
<p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Harum dolorum facere beatae commodi magnam molestiae non ad cum, sequi distinctio explicabo quaerat temporibus error ex esse incidunt doloribus ducimus earum excepturi et cupiditate corporis laudantium deleniti! Error libero natus incidunt quam recusandae amet non fugit tenetur, temporibus quis odit blanditiis nulla voluptatum voluptate rerum corporis pariatur eius. Numquam tenetur quam autem aspernatur officiis cupiditate odio rerum repellat alias nesciunt. Quae saepe corrupti est, vero ipsa odio nesciunt rerum ad ex.</p>

<style>
p {
font-size: 17px;
}

.split {
display: grid;
grid-template-columns: 1fr 1fr;
}
img {
border-radius: 1rem;
}
blockquote {
font-size: 30px;
color: #888;
position: relative;
}

blockquote:before {content: "";position: absolute;left: -40px;top: 17%;height: 60px;width: 4px;background: #6878d7;}
</style>
