<script lang="ts">
	import TreeView from "./components/TreeView.svelte";
	import Calendar from "./calendar/Calendar.svelte";

	// TODO Calender View: https://www.youtube.com/watch?v=IYGM_VBGG9E
	// https://www.youtube.com/watch?v=53Xa_lZ93Kw
	// https://github.com/TheComputerM/awesome-svelte#tutorials

	import LifestoriesDiary_Plugin from "main";
	import type { PTE_Settings } from "PTE_Settings";


	// https://svelte.dev/repl/8e68120858e5322272dc9136c4bb79cc?version=3.7.0
	import Tab1 from "./tabs/Tab1.svelte";
	import Tab2 from "./tabs/Tab2.svelte";
	import Tabs from "./tabs/Tabs.svelte";
	import Accordion from "./components/Accordion.svelte";

	// List of tab items with labels, values and assigned components
	let items = [
		{ label: "Content", value: 1, component: Tab1 },
		{ label: "Compile", value: 2, component: Tab2 },
	];

	export let plugin: LifestoriesDiary_Plugin;

	let settings: PTE_Settings = plugin.settings;

	// const folder = settings.memories_Folder;
	// const bd: string = settings.birthday; // TODO
	// const ls: number = parseInt(settings.lifespan);


</script>

<Accordion>
	<span slot="head"
		>Du betrachtest die Erinnerungen der 1960er Jahre, aus dem Jahr 1968.</span
	>
	<div slot="details">
		<Calendar />
	</div>
</Accordion>

<hr />
<Tabs {items} />
<hr />

Hier kommt der Ccontent hin...

<style>
	.number {
		color: grey;
	}
</style>
