<script lang="ts">
	import Arrow from "./Arrow.svelte";
	import Dot from "./Dot.svelte";

	// TODO export let scope:string = "ctDY, ctMQ, ctDw";
	export let name:string = "Januar";
	export let label:string = "2023";


	let showingCurrentMonth: boolean = false;

	function decrementDisplayedMonth(): void {
		throw new Error("Function not implemented.");
	}

	function incrementDisplayedMonth(): void {
		throw new Error("Function not implemented.");
	}

	function resetDisplayedMonth(
		event: MouseEvent & { currentTarget: EventTarget & HTMLDivElement },
	) {}
</script>

<div class="nav">
	<div>
		<span class="title">
			<span class="month"> {name} </span>
			<span class="year"> {label} </span>
		</span>
	</div>

	<div class="right-nav">
		<Arrow
			direction="left"
			onClick={decrementDisplayedMonth}
			tooltip="Previous Month"
		/>
		<!-- svelte-ignore a11y-click-events-have-key-events -->
		<!-- svelte-ignore a11y-no-static-element-interactions -->
		<div
			aria-label={!showingCurrentMonth ? "Reset to current month" : null}
			class="reset-button"
			class:active={!showingCurrentMonth}
			on:click={resetDisplayedMonth}
		>
			<Dot isFilled />
		</div>
		<Arrow
			direction="right"
			onClick={incrementDisplayedMonth}
			tooltip="Next Month"
		/>
	</div>
</div>

<style>
	.nav {
		align-items: baseline;
		display: flex;
		margin-top: 0.6em;
		padding: 0 8px;
		width: 100%;
	}

	.right-nav {
		align-items: center;
		display: flex;
		justify-content: center;
		margin-left: auto;
	}

	.reset-button {
		align-items: center;
		color: var(--color-arrow);
		display: flex;
		opacity: 0.4;
		padding: 0.5em;
	}

	.reset-button.active {
		cursor: pointer;
		opacity: 1;
	}

	.title {
		color: var(--color-text-title);
		cursor: pointer;
		display: flex;
		font-size: 1.4em;
		gap: 0.3em;
		margin: 0;
	}

	.month {
		font-weight: 500;
	}

	.year {
		color: var(--interactive-accent);
	}
</style>
