<script lang="ts">
	import CalendarDaysView from "./CalendarDays_View.svelte";
	import CalendarMonths from "./CalendarMonths_View.svelte";
	import CalendarYears from "./CalendarYears_View.svelte";
	import Arrow from "./parts/Arrow.svelte";

	let calendar = {
		selectedType: "ctDw",
	};

	let selectedType = "ctDw";

	const onChange = () => {
		selectedType = calendar.selectedType;
	};

	function decrementDisplayedMonth(): void {
		throw new Error("Function not implemented.");
	}

	function incrementDisplayedMonth(): void {
		throw new Error("Function not implemented.");
	}
</script>

<div class="nav-header">
	<div class="nav-buttons-container">
		<Arrow
			direction="left"
			onClick={decrementDisplayedMonth}
			tooltip="Previous Month"
		/>
		<select
			name="calender"
			id="calenderType"
			bind:value={calendar.selectedType}
			on:change={onChange}
		>
			<option value="ctDY">Decades & Years</option>
			<option value="ctMQ">Quartals & Months</option>
			<option value="ctDw">Weeks & Days</option>
			<option value="ctAll">Zeige alle</option>
		</select>
		<Arrow
			direction="right"
			onClick={incrementDisplayedMonth}
			tooltip="Next Month"
		/>
	</div>
</div>
{#if calendar.selectedType === "ctDw"}
	<CalendarDaysView />
{:else if calendar.selectedType === "ctMQ"}
	<CalendarMonths />
{:else if calendar.selectedType === "ctDY"}
	<CalendarYears />
{:else}
	<CalendarYears />
	<CalendarMonths />
	<CalendarDaysView />
{/if}

<style>
</style>
