#calendar {
	margin-top: 0px;
	font-size: var(--font-smallest);
}

#calendar table {
	width: 100%;
	border-collapse: collapse;
}

#calendar th,
#calendar td {
	padding: 10px;
	text-align: center;
	font-size: var(--font-ui-smaller);
}

#calendar th {
	background-color: var(--background-primary);
}

#calendar td {
	border: 1px solid var(--background-modifier-border);
}

#calendar td:hover {
	background-color: var(--background-modifier-hover);
	cursor: pointer;
}
