<script lang="ts">
	import Header from "./parts/Header.svelte";
</script>

<Header name='Deine' label="Lebensspanne" />

<!-- Calendar Table -->
<div id="calendar" class="container">
	<table>
		<thead>
			<tr>
				<th>Decade</th>
				<th colspan="5">Jahre</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td rowspan="2">1960er</td>
				<td>1961</td>
				<td>1962</td>
				<td>1963</td>
				<td>1964</td>
				<td>1965</td>
			</tr>
			<tr>
				<td>1966</td>
				<td>1967</td>
				<td>1968</td>
				<td>1969</td>
				<td>1970</td>
			</tr>
			<tr>
				<td rowspan="2">1970er</td>
				<td>1971</td>
				<td>1972</td>
				<td>1973</td>
				<td>1974</td>
				<td>1975</td>
			</tr>
			<tr>
				<td>1976</td>
				<td>1977</td>
				<td>1978</td>
				<td>1979</td>
				<td>1980</td>
			</tr>
		</tbody>
	</table>
</div>

<style src="./Calendar.css"></style>
