<script lang="ts">
	import Header from "./parts/Header.svelte";
</script>

<Header name='Jahr' label="2023" />

<!-- Calendar Table -->
<div id="calendar" class="container">
	<table>
		<thead>
			<tr>
				<th>Quartal</th>
				<th colspan="3">Monat</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td>1</td>
				<td>Januar</td>
				<td>Februar</td>
				<td>März</td>
			</tr>
			<tr>
				<td>2</td>
				<td>April</td>
				<td>Mai</td>
				<td>Juni</td>
			</tr>
			<tr>
				<td>3</td>
				<td>Juli</td>
				<td>August</td>
				<td>September</td>
			</tr>
			<tr>
				<td>4</td>
				<td>Oktober</td>
				<td>November</td>
				<td>Dezember</td>
			</tr>
		</tbody>
	</table>
</div>

<style src="./Calendar.css"></style>
