<script lang="ts">
	// Sicht auf dieTage, und Kalenderwochen
	// https://docs.obsidian.md/Reference/CSS+variables/Foundations/Colors
	// https://forum.obsidian.md/t/obsidian-css-quick-guide/58178
	import Header from "./parts/Header.svelte";
</script>

<!-- Calendar Table -->

<Header name='Januar' label="3023" />

<div id="calendar" class="container">
	<table>
		<thead>
			<tr>
				<th>KW</th>
				<th>Sun</th>
				<th>Mon</th>
				<th>Tue</th>
				<th>Wed</th>
				<th>Thu</th>
				<th>Fri</th>
				<th>Sat</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
				<td>1</td>
				<td>2</td>
			</tr>
			<tr>
				<td></td>
				<td>3</td>
				<td>4</td>
				<td>5</td>
				<td>6</td>
				<td>7</td>
				<td>8</td>
				<td>9</td>
			</tr>
			<tr>
				<td></td>
				<td>10</td>
				<td>11</td>
				<td>12</td>
				<td>13</td>
				<td>14</td>
				<td>15</td>
				<td>16</td>
			</tr>
			<tr>
				<td></td>
				<td>17</td>
				<td>18</td>
				<td>19</td>
				<td>20</td>
				<td>21</td>
				<td>22</td>
				<td>23</td>
			</tr>
			<tr>
				<td></td>
				<td>24</td>
				<td>25</td>
				<td>26</td>
				<td>27</td>
				<td>28</td>
				<td>29</td>
				<td>30</td>
			</tr>
		</tbody>
	</table>
</div>

<style src="./Calendar.css"></style>
